<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main"/>
		<title>Welcome to Grails</title>
	</head>
	<body>
		<h1>
			Alunos:
		</h1>
		<g:each in="${br.edu.unirn.comum.Pessoa.list()}" var="p">
			${p.nome}<br/>
		</g:each>
		
	</body>
</html>
